@use 'base/variables' as v;

.footer{
    background-color: v.$rosa;
    padding: 2rem 0;
    p{
        margin: 0; // pq todos los parrafos siempre tienen margin
        color: v.$blanco;
        text-align: center;
    }
}